.container1 {
  width: 1000px;
  margin: 60px 180px;
}

body {
  background-color: rgba(174, 200, 212, 0.178);
}

.container2 {
  width: 410px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 50px;
  position: relative;
  align-items: stretch;
  
}

img {
  width: 367px;
  height: 550px;
}

 .text {
  font: 12px Arial, sans-serif;
  text-align: justify;
  line-height: 1.6;
  margin-top: 50px;
  margin-left: -40px;
}

h2 {
  font: 35px Arial, sans-serif ;
  display: inline-block;
  background-color:#1C5A7CFF;
  position: relative;
  padding: 18px 25px;
  font-weight: 700;
  color: yellow;
  right: -287px;
  bottom: -113px;
  opacity: 0.75;
  
}

 .style {
  display: inline-block;
  position: relative;
  border: solid;
  width: 355px;
  height: 538px;
  opacity: 0.5;
  color: rgb(255, 255, 78);
  top: -713px;
  margin-left: -18px;
  margin-top: 7px;
  border-width: 7px;
}

a {
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(54, 141, 196);
  font-size: 12px;
  background-color: white;
  border: 2px solid #456579FF;
  border-radius: 5px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,);
  transition: .3s;
}

a:hover {
  background-color: rgba(122, 201, 223, 0.945);
}

a:before, a:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 50%;
  transition: .3s;
}

.rotate {
  transform: rotate(-90deg);
}



h6 {
  font: 12px Arial, sans-serif ;
  color:rgb(236, 177, 114);
  font-weight: 700;
}

h1 {
  font: 33px Arial, sans-serif ;
  width: 350px;
  font-weight: 700;
}

p {
  font: 12px Arial, sans-serif;
  width: 300px;
  margin-top: 40px;
  text-align: justify;
  line-height: 1.6;
}



.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
